<manifest package="com.sanid.lib.debugghost"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".DebugGhostService"
            android:enabled="true"
            android:exported="false">
        </service>

    </application>

</manifest>
